body {
    overflow-x: hidden;
}
@media (min-width: 1281px) {
    body {
        overflow-y: hidden;
    }
}
a {
    color: $gray-900;
    &:focus {
        outline: none;
    }
}
.pointer {
    cursor: pointer !important;
}
